.git
.github
.gitignore
.gitattributes
.editorconfig
.opencode
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
storage/debugbar
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
npm-debug.log
yarn-error.log
*.log
docker-compose.override.yml
README.md
LICENSE
ngrok.sh